---
layout: base
---

<div class="home">

  {{ content }}



  {% assign posts = site.posts %}


  {%- if posts.size > 0 -%}
  {%- if page.list_title -%}
  <h4 class="post-list-heading">{{ page.list_title }}</h4>
  {%- endif -%}
  <ul class="archive-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li>
      <div class="post-meta-container">
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <a class="archive-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </div>
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}

</div>