---
layout: base
---

<div class="home">

  {{ content }}

<div class="tags-wrapper">
  <input type="checkbox" id="tags-toggle-archive" class="tags-toggle-checkbox">
  <div id="tags" class="tags-collapsible">
    {% assign sorted_tags = site.tags | sort %}
            <p>
            {% for tag in sorted_tags %}
                <a class="post-tag" href="{{ site.baseurl }}/tag/{{ tag[0] | slugify }}">{{ tag[0] }}</a>
            {% endfor %}
            </p>
    </div>
  <label for="tags-toggle-archive" class="tags-toggle-label"></label>
</div>

  {% assign posts = site.posts %}


  {%- if posts.size > 0 -%}
  {%- if page.list_title -%}
  <h4 class="post-list-heading">{{ page.list_title }}</h4>
  {%- endif -%}
  <ul class="archive-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li>
      <div class="post-meta-container">
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <a class="archive-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </div>
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}

</div>